.sign-in {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;

    .title {
        margin: 10px 0;
    }

    .sign-in-form {
        width: 400px;
    }
    .buttons {
        display: flex;
        justify-content: space-between;
    }
    
}